.fancy-button {
  /* Gradient */
/* Rounded corners */
    -fx-background-color: #FF8000; /* Original color */
    
/*    -fx-background-radius: 5;  Rounded corners */
   
    -fx-border-color: transparent; /* No border by default */
    -fx-cursor: hand; /* Hand cursor *//* Shadow */
}

.fancy-button:hover {
    -fx-background-color: #FFA500; /* Slightly lighter shade */
   
    -fx-scale-x: 1.05; /* Slight scaling */
    -fx-scale-y: 1.05;
}

.fancy-button:pressed {
   -fx-background-color: #FF8000; /* Reverse gradient when clicked */
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 2); /* Pressed effect */
}